main {
    height: 750px;
    display: flex;
    background: url("/src/assets/images/bg.png");
    background-size: cover;
    background-position: center;
}
main .notFound {
    margin: auto;
    text-align: center;
}
main .notFound h1 {
    font-size: 150px;
    font-weight: bold;
}
